<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/games/css/profile.css">
	<link rel="stylesheet" href="/games/css/stylesGlobal.css">
	<link rel="icon" type="image/png" href="/games/logo_autt-(192x192).png" sizes="192x192">
	<title>Jeux en ligne</title>
</head>

<body>
	<header>
		<a href="/">AUTT</a>
		<ul>
			<a href="/games/">
				<li>Accueil</li>
			</a>
			<a href="/games/dinautt">
				<li>Dinautt</li>
			</a>
			<a href="/games/morpion">
				<li>Morpion</li>
			</a>
			<a href="/games/citations">
				<li>Jeu des citations</li>
			</a>
		</ul>
		<span class="nav-profile">
			<a href="/games/profile">Mon profil</a>
		</span>
	</header>
    <div class="haut">
		<div class="gauche">
            <div class="level">
                <img src="/games/assets/assets-profile/level/image_part_072.jpg" class="lvlPng" alt="level">
            </div>
            <div class="avatar">
                <img src="/games/assets/assets-profile/avatar.jpg" class="avatarPng" alt="avatar">
            </div>
                
		</div>

        <div class="banner">
            <img src="/games/banners/<%= banner %>" alt="">
            <img src="/games/assets/assets-profile/banner.jpg" class="bannerPng" alt="">
        </div>

		<div class="gold">
			autt coins et finance
		</div>


    </div>
	<h1>Bienvenue sur ton profil, <%= username %> !</h1> 
	
	<div class="statsTexte">Tes statistiques:</div>
	<div class="stats">
		<div class="statCitations statsContent">
			<h2>Jeu des citations</h2>
			<p>Nombre de parties jouées : <%= stats.Citations_total_games %></p>
			<p>Nombre de bonnes réponses : <%= stats.Citations_wins %><p>
			<p>Ratio des bonnes réponses : <%= stats.Citations_ratioA %>
			<p>Ratio de victoires : <%= stats.Citations_ratioWins %></p>
			<p>Nombre de parties terminées en dernière position : <?= stats.Citations_nbgames_last %></p>
		</div>
		<div class="statsMorpion statsContent">
			<h2>Morpion</h2>
			<p>Nombre de parties jouées : <%= stats.Morpion_total_games %></p>
			<p>Nombre de parties gagnées : <%= stats.Morpion_wins %></p>
			<p>Ratio de victoires : <%= stats.Morpion_ratioWins %></p>
		</div>
		<div class="statsDinautt statsContent">
			<h2>Din'autt</h2>
			<p>Nombre de parties jouées : <%= stats.Dinautt_total_games %></p>
			<p>Highscore: <%= stats.Dinautt_highscore %></p>

		</div>
</div>
<div class="deconnection">
    <form action="/games/logout?_method=DELETE" method="POST">
        <button type="submit">Se déconnecter</button>
    </form>
</div>

</body>


